#info-modal {
    z-index: 10;
    position: absolute;
    width: 30%;
    left: 35%;
    top: 40%;
    background-color: #edeae5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    visibility: hidden;
}

#info-modal > button {
    margin-top: 15px;
    padding: 10px 20px;
}